<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Model Deployment</title>
</head>
<body>
    <h1 class="text-center">Rectified Image</h1>
    <div>
        <img src="data:image/png;base64,{{plot_url}}" width="256" height="256" alt="graph">
    </div>

    <h1 class="text-center">Return to image selection</h1>

    <form class="p-3 text-center" action='/', method="GET" enctype="multipart/form-data">
        <input class="btn btn-primary mt-3" type="submit" value="Return">
    </form>
</body>
</html>